.popup__input_type_error:invalid {
  border-bottom: 1px solid #ff0000;
}

.popup__error_visible {
  color: #f00;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-info-error {
  min-height: 30px;
}
